@import "fonts.css";
@import "commons.css";

#login-logo {
	-fx-font-family: "Hammersmith One";
	-fx-font-size: 50;
	-fx-fill: #3895d3;
}

.login-field {
	-fx-font-size: 16;
	-fx-border-color: transparent;
	-fx-background-color: #a9cae2;
	-fx-alignment: center-left;
	-fx-text-fill: white;
	-fx-pref-height: 60;

	-fx-pref-width: 250;
	-fx-background-radius: 30;
	-fx-padding: 10 0 10 0;
}
.login-field .text-field {
	-fx-padding: 0 0 0 50;
}

.login-field .floating-text {
	-fx-font-famil: "Inria Sans";
	-fx-font-size: 16;
	-fx-text-fill: #ffffff;
	-fx-background-color: transparent;
}

#login-email .floating-text {
	-fx-translate-x: 95;
}

#login-password .floating-text {
	-fx-translate-x: 90;
}

.login-button {
	-fx-background-color: #abcde4;
	-fx-text-fill: #4f77aa;
	-fx-font-family: "Inria Sans Bold";
	-fx-font-size: 16;
	-fx-alignment: center;
	-fx-background-radius: 20;
	-fx-min-width: 68;
	-fx-max-width: 68;
	-fx-min-height: 30;
	-fx-max-height: 30;
}
.validation-text {
	-fx-font-family: "Inria Sans Bold";
}
